<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <property resource="application.yml"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="default">
        <include
                resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <appender name="ES"
                  class="uw.logback.es.appender.ElasticSearchAppender">
            <esServer>http://localhost:9200</esServer>
            <!-- Basic Authentication -->
            <esUsername>username</esUsername>
            <esPassword>password</esPassword>
            <!-- 索引名称,默认使用appanme -->
            <index>uw-auth-center</index>
            <!-- 索引Pattern,生成index-indexPattern的索引,目前只支持时间格式器,比如:yyyy-MM-dd -->
            <indexPattern>_yyyy-MM-dd</indexPattern>
            <!-- 应用名称 -->
            <appName>uw-auth-center2</appName>
            <!-- 当前主机地址 -->
            <appHost>${SPRING_CLOUD_CONSUL_DISCOVERY_IP_ADDRESS}</appHost>
            <!-- 最大刷新时间间隔 单位秒 -->
            <maxFlushInSeconds>10</maxFlushInSeconds>
            <!-- 批量提交最小字节数 -->
            <maxBytesOfBatch>2048</maxBytesOfBatch>
            <!-- 批量提交日志最大线程数 -->
            <maxBatchThreads>5</maxBatchThreads>
            <!-- 最大批量线程队列数 -->
            <maxBatchQueueSize>10</maxBatchQueueSize>
            <!-- 每个异常堆栈打印的最大层数 -->
            <maxDepthPerThrowable>10</maxDepthPerThrowable>
            <!-- 需要排除的异常关键字，多个关键字之间用','分割。-->
            <excludeThrowableKeys>org.spring,org.apache,java.base</excludeThrowableKeys>
            <!-- 开启JMX监控支持,默认未开启 -->
            <jmxMonitoring>false</jmxMonitoring>
        </appender>
        <root level="INFO">
            <appender-ref ref="ES"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
